.para{
    display: flex;
    justify-content: space-between;
    color: #000;
    text-align: center;
    border: 2px solid rgb(8, 8, 8);
    padding: 10px;
    border-radius: 5px;
}

.para button{
    height: 40px;
    width: 80px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.para button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: .5s;
}